{% extends 'base.html' %}
{% block head %}

  {{ super() }}
{% endblock %}
{% block body %}

<header class="masthead back">
    <div class = "container-fluid">
    <img src="/static/image/mars.jpg" class="img-fluid" alt="Responsive image">
    <div class = row>
      <div class="card-img-overlay col-6 offset-2  text-white d-flex justify-content-left align-items-center" style="
      margin-top: 200px;">      <h2 class="display-4 auto-ml mb-0"><br />
        <span class="d-block font-weight-bold">Tell us about you</span>
      </h2>

      
      <div class="img-overlay">
       </div>
    
<div class="col-6 form-group justify-content-right">


 <div class="row justify-content-center pt-5">
 

<div class="col-8  form-group">
      <div class="card-header"><span class="d-block text-white">
        </span>

<form id = 'form_about' method = 'POST' action = '/about-user'>
    <p>
    <div class = 'form-user'> 
        What is your nickname?<input type= 'text' name = 'nickname' id = 'name_details' placeholer ='What do you like to be called?'>
    </div>
    </p>

    <p>

    <div class = 'form-user'>
        What are your hobbies?<input type = 'text' name = 'hobbies' id='hobbies'>
    </div>
    </p>

    <p>
    <div class = 'form-user'>
        How old are you?<input type = 'number' name = 'age' id='age_year'>
    </div>
    </p>
    <p>
    <div class = 'form-user'>
        Your favourite movie?<input type = 'text' name = 'movie' id='fav_movie'>
    </div>
    </p>
    <button type='submit' class="btn btn-primary btn-block mb-4 text-black visible">Submit</button>

</form>
</div>
</div>
</div>
 
</div>


</header>

<script src = 'static/about_user.js'></script>


{% endblock %}