{% extends 'base.html' %}
{% block head %}

  {{ super() }}
{% endblock %}
{% block body %}

<header class="masthead">

    <img src="/static/image/marscraters.jpg" class="img-fluid" alt="Responsive image">
    <div class = row>
    <div class="card-img-overlay text-white d-flex img-responsive justify-content-left align-items-center">
      <h2 class="display-4 auto-ml mb-0"><br />
        <span class="d-block font-weight-bold">Tell us about you</span>
      </h2>
      <div class="img-overlay">
       </div>
    
<div class="col-4 offset-2 form-group justify-content-right">

 <h4>It will help us tailor our content to you</h4>
 
<form id = 'form_about' method = 'POST' action = '/about-user'>
    <p>
    <div class = 'form-user'> 
        What is your nickname?<input type= 'text' name = 'nickname' id = 'name_details' placeholer ='What do you like to be called?'>
    </div>
    </p>

    <p>

    <div class = 'form-user'>
        What are your hobbies?<input type = 'text' name = 'hobbies' id='hobbies'>
    </div>
    </p>

    <p>
    <div class = 'form-user'>
        What is your age?<input type = 'number' name = 'age' id='age_year'>
    </div>
    </p>
    <p>
    <div class = 'form-user'>
        What is your favourite movie?<input type = 'text' name = 'movie' id='fav_movie'>
    </div>
    </p>
    <button type= 'submit'>Submit</button>


</form>
</div>
</div>
</div>
</div>
</header>

<script src = 'static/about_user.js'></script>


{% endblock %}