

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

   <link rel="stylesheet" href="/static/css/base.css"> 
   <title>Mission to Mars</title>
   </head>


    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  

    {% block head %}{% endblock %}
   

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class = "navbar-brand" href="/">
      <img src = "/static/image/logo4.png" height = "60"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        
      </button>

      <ul class="nav navbar-nav navbar-right">
        <li>

          {% if 'user_email' in session%}
            <p> {{session['user_email']}}</p>
               <p><a href="/logout"><button id = "button" class = "btn btn-primary text-black px-5">Logout</button></a></p>
          {% else %}
            <a class="login-link" href="/login">Login</a>
          {% endif %}
        </li>
      </ul>
    
  
  </nav>  
  <body> 
    
      {% for msg in get_flashed_messages() %}
        <p class="flash-msg modal fade" id = "modal_alert">
          {{ msg }}
        </p>
      {% endfor %}
  
      {% block body %}{% endblock %}
  
      {% block after_body %}{% endblock %}
    
  </body>

  <footer class = "page-footer font-small black pt-0">
    <div style = "background-color: black;"> 
    <div class = "container-fluid text-center text-md-left pt-5">
      <div class = "row">
        <div class = "col-md-6 mt-md-0 mt-3">
          <h5 class = "text-white">About the Project</h5>
          <p class =" text-white" >MissiontoMars is a fun, coffee-break app for Star Trek and space exploration fans fascinated with new frontiers and the possibilities of exploring Mars.</p>
        </div>

      

        <hr class = "clearfix w-100 d-md-none pb-3">
      
      <div class = "col-md-3 mb-md-0 mb-3">
      <a href = "https://fellowship.hackbrightacademy.com/sis/career-day/students-packet/1441/"><h5 class = 'text-white'>Contact Us</h5></a>

    </div>
    <div class = "col-md-3 mb-md-0 mb-3"> 
  </div>
</div>
</div>
 
    <div class="footer-copyright text-center text-white  py-3"><p>© 2021 Copyright: Nalisha Adams <br>
    © Photos/Video Copyright: NASA<br>
    ©Star Trek ® and related marks are trademarks of CBS Studios Inc. Copyright © 1966, Present. The Star Trek web pages on this site are for educational and entertainment purposes only. All other copyrights property of their respective holders.
  </p>
  </div>
   
</div>
  </footer>
</html>

