{% extends 'base.html' %}
{% block head %}

  {{ super() }}
{% endblock %}
{% block body %}

<body>
<h1>
  Mission Log  
</h1>

<h2>Rovername: {{r_name}}</h2>
<h2>Mission date: {{rover_datetext}}</h2>



<div id = 'blog'>

  {% for post in rover_posts%} 
     
         
        <p>
        
          
            <img src="{{ data['photos'][0]['img_src'] }}">  
        </p>
       
        <p>{{post.title}}</p>
        <p>{{post.text}}</p>

        
     
  {%endfor%}


    
  <p></p>
  

</div>

</body>
</html>

{% endblock %}