{% extends 'base.html' %}
{% block head %}

  {{ super() }}
{% endblock %}
{% block body %}

<body>
  <p>Welcome back {{session['user_email']}}</p>
<h1>
  Mission Log  
</h1>

<h2>Rovername: {{r_name}}</h2>

<div id = 'blog'>


  <p>

 

    {%if pics|length%}
    <h2>Mission date: {{rover_datetext}}</h2>
    <p><img src="{{ pics}}"></p>
    <p>{{rover_posts_live.title}}</p>
    <p>{{rover_posts_live.quote}}</p>
    <p>{{rover_posts_live.mission}}</p>
    {%endif%}

  </p>
  
</div>

</body>
</html>

{% endblock %}