 
{% extends 'base.html' %}

{% block head %}
  <!-- <link rel="stylesheet" href="/static/css/maps.css"> -->

  <script src="/static/js/curiosity.js"></script>
   
{% endblock %}

{% block body %}
  <header>

    <h1>Hello</h1>
   
  </header>


  <main>
   
  </main>

  <body>
    <section id = 'prompt-2'>
      <form>
        <p>
          <label for='alert-text'>What?</label>
        </p>
        <p>
          <input type = 'text' name ='message' id = 'alert-text'/>
        </p>
      </form>

    </section>
  </body>
{% endblock %}  
