{% extends 'base.html' %}
{% block head %}
<!-- </script>
<script src = "/static/curiosity.js" defer></script> -->

  {{ super() }}
{% endblock %}
{% block body %}

<body>
<h1>
  Curiosity: Last Rover Standing
</h1>
<form class ='' action = '/curiosity' method = 'POST'>


  <input type ='date' name = 'photo_date' id = 'photo_opp'>
  <button type = 'submit' name='pic_date' id = 'date_of_pic'> submit</button>

  
</form> 
<div id = 'cur_pic'>
  <img src="{{data['photos'][0]['img_src']}}">

</div>

<div id = 'cur_blog'>

</div>

</body>
</html>

{% endblock %}