{% extends 'base.html' %}



{% block body %}
<header>
  <video class="img-fluid" width = "1850" height = "800" autoplay loop muted>
    <source src="/static/image/movie.mp4" type="video/mp4">
  </video>   
  
  <div class="card-img-overlay offset-2 hline text-white justify-content-left align-items-center" style="
  margin-top: 300px;">
  <h1 class="display-4 mb-0 mt-5 main"><span style=color:#ffcc00>Mission</span>toMars</h1>
 
 
    <section>


      <!--Login to your account  -->
    
      <!-- <div class="row justify-content-center pt-5">
     
    
          <div class="col-6 form-group">
            <div class="card-header"><span class="d-block text-white">
                <h5>Log In</h5>
              </span>
    
              <form id='loginForm' >
                <p>
                  <input type='text' id='email' placeholder='Enter your user email' name='email'>
                </p>
    
                <p>
                  <input type='password' placeholder='Enter your password' id='password' name='password'>
                </p>
    
                <p>
                  <button type='submit' class="btn btn-primary btn-block mb-4 text-black visible">Login</button>
                </p>
              </form>
            </div>
          </div> -->
    
    
    
    
        <!-- Register for a new Account -->
    
        <div class="col-6 form-group">
          <div class="card-header"><span class="d-block text-white">
              <h5>Register</h5>
            </span>
    
            <form id = "register" method = "POST">
    
              <p>
                <input type='text' placeholder='Enter your email' name='email'>
              </p>
    
              <p>
                <input type='password' placeholder='Enter a password' name='password'>
              </p>
              <p>
                <button type='submit' class="btn btn-primary btn-block mb-4 text-black">Sign up</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>

     <div class="img-overlay col-4 mb-5 offset-mb-2"> 
      <a href= "#description" role= "button" class = "btn btn-primary text-black mt-5">Explore ⬇</a> </div>
  </div>
</header>
 

<section id="Description" class="text-center">

  <h2 class="h1-responsive pt-5 hline">About <span style=color:#ffcc00>MissiontoMars</span></h2>
  <!-- Row -->
  <div class="row d-flex justify-content-center pt-5">
    <div class="col-md-8">
      <p>It doesn't matter how long it takes - they were built for this mission. But no one expected them to survive out
        here this long.
        This is a (fictionalised) story, of what life would be like for our great Martian explorers, Spirit, Opportunity
        and Curiosity. Filled with courage, determination, obsession - and a little humour.</p>
      <p>To go boldy where no wo/man has gone before.</p>
    </div>
  </div>
</section>

<!-- Images -->
<section id="description" class="text-center">
  <!-- <h2 class="h1-responsive pt-5"> <span style=color:rgb(255,204,0)>Meet </span> the Explorers</h2> -->

  <div class="container">

    <h2 class="h1-responsive pt-5 hline">The <span style=color:#ffcc00>Mission</span></h2>

            Explore Mars for their human creators. <br>
            Spirit and Opportunity, the geologist twins were first to arrive. 
            Their research was going well.
            They knew each other's quirks and weaknesses. 
            The days were long, the nights freezing. But it was a quiet, peaceful existence. And they were consumed in their work.
            <p></p>
            <p>And then Curiosity arrived. <br></p>
            A newer, faster, smarter AI.
            Opportunity felt ploddingly slow in his explorations and Spirit? Well, she didn't mind Curiosity... 
            But early analysis of Curiosity's soil samples immediately showed that there were traces of water on the planet.
            And then...then they started seeing evidence of other life forms. <br>
            That's the point when their mission changed - from colonisation to surivial.
            
    <h2 class="h1-responsive pt-5 hline">Meet the <span style=color:#ffcc00>Rovers</span></h2>

  
    <div class="row justify-content-center align-top pt-5">

      <div class="col-md-4 mb-4">
  
        <a href="/rover/1"><img src="static/image/curiosity.jpg" class="img-fluid img center image-resize" alt="Curiosity">
      </a>
      <h4 class=my-4>Curiosity</h4>
      <p>Curiosity arrived late to the team. Not subject to irrationality or emotional turmoil, he sometimes steps on
        a few toes...uh hum... maybe a few wheels.</p>
      <p><b>"Picturesque descriptions will not mend broken circuits."</b></p>
      <p><a href="/rover/1"><button class="btn btn-primary btn-block mb-4 text-black" id="button">More</button></a>
      </p>
    </div>


    <div class="col-md-4 mb-4">
      <a href="/rover/2"><img src="static/image/spirit.jpg" class="img-fluid img center image-resize" alt="Spirit"></a>
      <h4 class=my-4>Spirit</h4>
      <p>She beat her twin, Opportunity, to Mars by a few days. But Spirit's not the competitive type. She's serious
        about her life on Mars ...just as serious as she is about chocolate.</p>
      <p><b>"This rover's favorite chocolate is a mars bar."</b></p>
      <p><a href="/rover/2"><button class="btn btn-primary btn-block mb-4 text-black" id="button">More</button></a>
      </p>

    </div>

    <div class="col-md-4 mb-4">

      <a href="/rover/3"><img src="static/image/opportunity_Mars_Rover.jpg" class="img-fluid img center image-resize" alt="Opportunity"></a>
      <h4 class=my-4>Opportunity</h4>
      <p>One of the geologist twins. He arrived on Mars after his sister, Spirit. He lasted much longer than anyone,
        even his creators, expected.</p>
      <p><b>"I have encountered 1,754 non-Human races during my tenure in NASA."</b></p>
      <p><a href="/rover/3"><button class="btn btn-primary btn-block mb-4 text-black" id="button">More</button></a>
      </p>


    </div>

    </div>
  </div>

</section>


<section id="Description" class="text-center" style="background-color: #eee">
  
  <h2 class="h1-responsive pt-5 hline"> <span style=color:#ffcc00>Quote </span>of the Day</h2>

  <!-- Row -->
  <div class="row d-flex justify-content-center pt-5">
    <div class="col-md-6">
      
      <div class="card pt-5 text-center mb-4">
        <div class = "align-left small-icon hline">
        <img src = /static/image/quote.png >  
        </div>
        <blockquote class="blockquote">
          <p>{{quote}}</p>
         
        </blockquote>
      </div>
    </div>
  </div>
  <div class=pt-5>

  </div>
</section>



<!-- <section class="bar-image">


  Login to your account  

  <div class="row justify-content-center pt-5">
 

      <div class="col-2  form-group">
        <div class="card-header"><span class="d-block text-white">
            <h5>Log In</h5>
          </span>

          <form id='loginForm' >
            <p>
              <input type='text' id='email' placeholder='Enter your user email' name='email'>
            </p>

            <p>
              <input type='password' placeholder='Enter your password' id='password' name='password'>
            </p>

            <p>
              <button type='submit' class="btn btn-primary btn-block mb-4 text-black visible">Login</button>
            </p>
          </form>
        </div>
      </div>




    <!-- Register for a new Account 

    <div class="col-6 form-group">
      <div class="card-header"><span class="d-block text-white">
          <h5>Register</h5>
        </span>

        <form id = "register">

          <p>
            <input type='text' placeholder='Enter your email' name='email'>
          </p>

          <p>
            <input type='password' placeholder='Enter a password' name='password'>
          </p>
          <p>
            <button type='submit' class="btn btn-primary btn-block mb-4 text-black">Sign up</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</section> -->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id= "modal_text">...</p>
  </div>

</div>

<script src="/static/alert.js"></script>
{% endblock %}