 
{% extends 'base.html' %}

{% block head %}
  <!-- <link rel="stylesheet" href="/static/css/maps.css"> -->

  <!-- <script src="/static/opportunity.js"></script> -->
   
{% endblock %}

{% block body %}
  <header>
   
  </header>
  <main>
  <body>
    <h1>
       Opportunity: A HERO's POV
    </h1>

    <form>

      <input type = button />

      <input type ='date' name = 'photo_date' id = 'photo_opp'>

      


    </form>

    <div  id = 'photo'>
      <img src="{{data['photos'][2]['img_src']}}">

    </div>
   
    <div id = "opp_blog">
  
    </div>
  
    </body>
  </main>
{% endblock %}  

