{% extends 'base.html' %}
{% block head %}
<!-- </script>
<script src = "/static/curiosity.js" defer></script> -->

  {{ super() }}
{% endblock %}
{% block body %}

<body>
<h1>
  Mission Log  
</h1>

<h2>Rovername: {{r_name}}</h2>
<!-- <p>id details: {{r_id}}</p> -->

<div id = 'blog'>

  {% for post in rover_posts%} 
     
         
        <p>
          
          <img src = '{{post.photos[0].photo_path}}'>  
        </p>
        <p>{{post.date}}</p>
        <p>{{post.title}}</p>
        <p>{{post.text}}</p>
        

        <!-- <p> {{post.rover_id}}</p>        -->
     
  {%endfor%}


    
  <p></p>
  

</div>

</body>
</html>

{% endblock %}