
  
{% extends 'base.html' %}

{% block body %}


<header class = "masthead" >
 
  <img src="/static/image/rover_concept.jpg" class="img-trans img-fluid" alt="Responsive image">
  <div class="card-img-overlay  text-black d-flex justify-content-left align-items-center">
 

<section id="Description" class="text-center align-items-center">
 

  <h1 class = "h1-responsive pt-5">Generate {{r_name}}'s New Mission Log </span></h1>

    <form action = '/new_date/{{r_id}}' method = 'POST'>
    
     
      {%if r_id == "1" %}
      <p> Generate a new mission log from Curiosity's mission. </p>
      <p>He landed on: 2012-08-06 and is currently still operational.</p>
      <input type='date' id = 'mission_date1' min= '2012-08-06'  name = 'date' onchange='this.form.submit()'>
      {%endif%}

      {%if r_id == "2" %}
      <p>Generate a new mission log from Spirit's mission. </p>
      <p>She landed on: 2004-01-04 and her last transmission was on 2010-03-22 </p>
     <input type='date' id = 'mission_date2' min= '2004-01-04' max = '2010-03-22' name = 'date' onchange='this.form.submit()'> 
        
      {%endif%}

      {%if r_id == "3" %}
      <p>Generate a new mission log from Opportunity's mission. </p>
      <p>He landed on: 2004-01-25 and his last transmission was 2018-06-10</p>
      <input type='date' id = 'mission_date3' min= '2004-01-25' max = '2018-06-10' name = 'date' onchange='this.form.submit()'>
    </div>
      </p>
      {%endif%}
    </form>
  </section>
</header>
<body>

<!--   

<section id="Description" class="text-center">
 

    <h2 class = "h1-responsive pt-5">Generate {{r_name}}'s New <span style = color:rgb(255,204,0)>Mission Log </span></h2>
  
      <form action = '/new_date/{{r_id}}' method = 'POST'>
      
       
        {%if r_id == "1" %}
        <p> Generate a new mission log from Curiosity's mission. </p>
        <p>He landed on: 2012-08-06 and is currently still operational.</p>
        <input type='date' id = 'mission_date1' min= '2012-08-06'  name = 'date' onchange='this.form.submit()'>
        {%endif%}

        {%if r_id == "2" %}
        <p>Generate a new mission log from Spirit's mission. </p>
        <p>She landed on: 2004-01-04 and her last transmission was on 2010-03-22 </p>
       <input type='date' id = 'mission_date2' min= '2004-01-04' max = '2010-03-22' name = 'date' onchange='this.form.submit()'> 
          
        {%endif%}

        {%if r_id == "3" %}
        <p>Generate a new mission log from Opportunity's mission. </p>
        <p>He landed on: 2004-01-25 and his last transmission was 2018-06-10</p>
        <input type='date' id = 'mission_date3' min= '2004-01-25' max = '2018-06-10' name = 'date' onchange='this.form.submit()'>
      </div>
        </p>
        {%endif%}
      </form>
    </section> -->

   
  
      <h2 class="h1-responsive pt-5"> <span style=color:#ffcc00>Search </span>Mission Logs</h2> 
    
      <!-- Row -->

       
    <div class="row d-flex justify-content-center pt-5">
        
        <!-- <div class = "input-group"> -->
        <div class="col-md-6" class = "form-group">
         
          <form  action = '/search' method = 'GET'> 
            
            <input type= "search" class = 'mw-100 search col-lg-8' type = 'text' name = 'search_title' placeholder = 'Search title'>  
            </form>
           
        </div>  
        <!-- </div>    -->
       
      <div class=pt-5>
    
<section>
  <div class = "container py-5">
    <div class= "text-left mb-5">
      <h3>MISSION ARCHIVE<span style=color:#ffcc00> | {{r_name}} </span></h3>
    </div>
    <div class = "row text-center mb-5">
      <div class = "col-8 mx-auto">
        <!-- <h2>Archive:<span style=color:#ffcc00> {{r_name}} </span></h2> -->


      </div>
    </div>

    <div class = "row">
      <div class = "col-8 mx-auto align-items-center">
      <div class = "container">
        <div class="content">
          {% for post in rover_posts%} 
        
          <div class = "pt-5"><h3>{{post.title}}</h3></div>
          <p>
            <img src = '{{post.photos[0].photo_path}}'>  
          </p>
          <p>{{post.date}}</p> 
          <p>{{post.text}}</p>
          <div class = "under-bar pt-5"></div>
      
        {%endfor%}


        </div>
      </div>
    </div>
    </div>



  </div>
  
</section>

  {% if 'user_email' in session%}
  <p> You are logged in as {{session['user_email']}}</p>
  <p><a href="/logout"><button id = "button">Logout</button></a></p>
  {%endif%}
  
  </body>
 

{% endblock %}
 