  
{% extends 'base.html' %}
{% block head %}

  {{ super() }}
{% endblock %}
{% block body %}

 

 
<div class = "container py-5"></div>
<div class = "container py-2"></div>


<body>
  <div class = "container py-5">
    <div class= "text-left mb-5">
      <h3>MISSION SEARCH<span style=color:#ffcc00> | TITLE  </span></h3>
    </div>
    <div class = "row text-center mb-5">
      <div class = "col-8 mx-auto">
      


      </div>
    </div>

<!-- <form id = 'form_search' >
  <p>
    Search for a 2nd post title<input type='text' id='search_title'>
  
  </p>
</form> -->
<h1> These are your results:</h1>
<div id = 'blog'>

  <ul> 
  {%for title in missionposts%}

    <li>{{title.missionpost_id}} {{title.title}}</li>
   
  {%endfor%}
  </ul>


</div>
</body>
    
<script src="/static/search.js"></script>
 
{% endblock %}