 
{% extends 'base.html' %}

{% block head %}
  <!-- <link rel="stylesheet" href="/static/css/maps.css"> -->

  <script src="/static/spirit.js"></script>
   
{% endblock %}

{% block body %}
  <header>
   
  </header>

  <main>
    <body>
      <h1>Spirit Page</h1>
  
    
    <div id = "display">
  
    </div>

    <div id = 'spirit_blog'>

    </div>
  
  
    </body>
  </main>
{% endblock %}  
<!-- 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skills 4 – JavaScript</title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      <!integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=">
      crossorigin="anonymous"
    ></script>
 <script src = "/static/spirit.js" defer></script>



    <link rel="stylesheet" href="/static/css/base.css" />
  </head>
  <body>
    <h1>Spirit Page</h1>

    
      
      <img src id  = "spirit" />
  
  <div id = "content">

  </div>


  </body>
</html> -->
